*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
body{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* background-color: #2a124d; */
    /* height: 100vh;
    overflow :hidden */
    background-color: #b8c6db;
 
}
#afficheMotdepasse {
    color: white;
        
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    /* padding: 4%; */ 
    /* width: 30%; */
    /* height: 30%; */
    /* margin-top: 5%; */

    
    /* margin-top: 20%; */
    /* justify-content: space-evenly; */
    
    /* padding: 2%; */
    /* background-color: #2a124d;  */
    height: 100vh;


    
} 
.content{
    border: 3px solid #2a124d;
    padding:2%; 
    background-color: #2a124d; 
    padding: 3%;
    
  


}

input[type=number]{

    width: 6%;
    height: 3%;

}
input[type=text]{
    height: 10vh;
    /* width: 70%; */
    background-color: #2a124d;
}
label{
    color: white;
    font-size: 1.8em;
    line-height: 240%;
   
}
.labels{
    
    /* padding: 6%; */
    /* line-height: 150%; */
    margin-top: 7%;
    
    
}
.password { 
    position: relative;
}
.copy{ 
    position: absolute;
    /* left: 0; */
    right: 0;
}
.generePassword{
    text-align: center;
    background-color: #e5b63e;
    width: 100%;
    padding: 2%;
    font-size: 2.3rem;
    /* font-family: inherit; */
    color: #2a124d;
    margin-top: 16%;

}

.labels div{
    display: flex;
    justify-content: space-between;
}   
